<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Sales</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
       <td><%= " $#{sprintf("%0.02f",customer.total_sales)} " %></td>
        <td><a href="/customers/<%= customer.id %>">Show</a></td>
        <td><a href="/customers/<%= customer.id %>/edit">Edit</a></td>
        <td><a href="/customers/<%= customer.id %>/" data-method ="delete" data-confirm ="Are You Sure?" >Destroy</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
<%= paginate @customers %>