<h1>Listing sales</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Tax</th>
      <th>Customer</th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= " $#{sprintf("%0.02f",sale.amount)} "%></td>
        <td><%= " $#{sprintf("%0.02f",sale.tax)} " %></td>
        <td><%= sale.customer.name.upcase %></td>
        <td><a href="/sales/<%= sale.id %>">Show</a></td>
        <td><a href="/sales/<%= sale.id %>/edit">Edit</a></td>
        <td><a href="/sales/<%= sale.id %>/" data-method ="delete" data-confirm ="Are You Sure?" >Destroy</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>

<%= paginate @sales %>
